{% extends 'front/main.html' %}

{% load static %}
{% block content %}

{%  include 'front/status.html' %}
<style>
#messages{
  background-color: red;
  color: #fff;
  padding: 10px;
  margin-top: 10px;

  -webkit-animation: cssAnimation 5s forwards;
      animation: cssAnimation 5s forwards;

  -moz-animation: cssAnimation 0s ease-in 5s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 5s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 5s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
</style>
<br>
<div class="container">
  <form method="post" action="">
     {% csrf_token %}
  <div style="max-width: 400px;">
  </div>
  <div style="padding-bottom: 18px;font-size : 24px; font-weight:bold " align = "center"><h2>Create A Contest</h2></div>
  <div style="padding-bottom: 18px; font-weight:bold "><h4>CONTEST TITLE<span style="color: red;"> *</span></h4><br/>
  <input type="text" id="data_5" name="ctitle" placeholder = "Contest Title" style="" class="form-control" required>
  </div>

  <div style="padding-bottom: 18px; font-weight:bold " ><h4>CONTEST DESCRIPTION</h4><br/>
  <textarea id="data_11" name="cdescription" style="" rows="8" class="form-control" placeholder="Describe about the contest"></textarea>
  </div>

  <div style="padding-bottom: 18px; font-weight:bold "><h4>BEGINING DATE<span style="color: red;"> *</span></h4><br/>
    <input type="date" id="data_5" name="cbeginingdate" placeholder = "2020-05-05 15:00:00" style="" class="form-control" value = "" required>
  </div>

  <div style="padding-bottom: 18px; font-weight:bold "><h4>BEGINING TIME<span style="color: red;"> *</span></h4><br/>
    <input type="time" id="data_5" name="cbeginingtime" placeholder = "2020-05-05 15:00:00" style="" class="form-control" value = "" required>
  </div>


  <div style="padding-bottom: 18px; font-weight:bold "><h4>LENGTH<span style="color: red;"> *</span></h4><br/>
    <input type="text" id="data_5" name="clength" placeholder = "HOUR:MIN:SEC" style="" class="form-control" value = "5:0:0" required>
    {% for message in messages %}
      <p id="messages">{{message}} </p>
    {% endfor %}
  </div>

  <div style="padding-bottom: 18px; font-weight:bold "><h4>CONTEST PASSWORD<span style="color: red;"></span></h4><br/>
    <input type="text" id="data_5" name="cpassword" placeholder = "Set NULL to public contest" style="" class="form-control" value = "">

  </div>




    <div class="d-flex justify-content-center mt-3 login_container">
    <input class="btn btn-danger" type="submit" value="Create">
    </div>



  </form>

</div>


{% endblock %}
