#logo{
	}

	body{
		background-color: #fff;
	}


	#total-orders{
		background-color: #4cb4c7;
	}


	#orders-delivered{
		background-color: #7abecc;
	}

	#orders-pending{
		background-color: #7CD1C0;
	}

	.success{
		width: 100%;
		padding: 5px;
		background: green;
		color: white;
	}

	.error{
		width: 100%;
		padding: 5px;
		background: red;
		color: white;
	}
