{% extends 'front/main.html' %}

{% block content %}

{% include 'front/status.html' %}

<style>
  #myTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  #myTable td,
  #myTable th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #myTable tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  #myTable tr:hover {
    background-color: #ddd;
  }

  #myTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    align: center;
    background-color: #55B6FF;
    color: white;
  }

  .column {
    float: left;
    width: 50%;
    padding-left: 50px;
  }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  $(document).ready(function () {
    $("#myInput").on("keyup", function () {
      var value = $(this).val().toLowerCase();
      $("#myTable tr").filter(function () {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
</script>

<body>


  <br>

  <div class="row">
    <div class="column">
      <div class=" ml-4 mt-4">
        <input id="myInput" type="text" placeholder="Search problem...">
      </div>

      <table id="myTable" style="margin-left: 50%;margin-right: auto;">
        <tr align=center>
          <th>ID</th>
          <th>Problem Title</th>
          <th>Date</th>
          <th>Tag</th>
          <th>Type</th>
        </tr>
        <tbody id="scriptTable myTable">

          {% for i in allproblem %}
          <tr>
            <td>{{i.pk}}</td>
            <td><a href="{% url 'problem' pk=i.pk %}">{{i.ptitle}}</a></td>
            <td>{{i.date}}</td>
            <th>{{i.ptags}}</th>
            <td>{{i.ptype}}</td>

          </tr>

          {% endfor %}


        </tbody>
      </table>
    </div>

  </div>


  {% endblock %}
