{% extends 'front/main.html' %}

{% block content %}

{%  include 'front/status.html' %}
<style>
  body,
  html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #7abecc !important;
  }

  .user_card {
    width: 1000px;
    margin-top: auto;
    margin-bottom: auto;
    background: #74cfbf;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;



  }

  .hl{

    text-align: center;
    font-weight: bold;
    color: white;
    padding: 20px;
  }

</style>

<div class="container h-100">
  <div class="d-flex justify-content-center h-100">
    <div class="user_card">
      <h2 class = "hl" > Contest List </h2>
      <table class="table table-bordered" width = "500">
      	<thead>
      		<tr class="hl" >
      			<th scope="col" width = "60%"  >Contest</th>
      			<th scope="col" width = "15%" align = "center">Setter</th>
      			<th scope="col" width = "25%" align = "center">Time</th>
      		</tr>
      	</thead>

        {% for con in contests %}
      	<tbody>
      		<tr>
      			<td>
      				<a href="{% url 'contesttask' pk=con.pk%}"> {{con}} </a>
      			</td>
      			<td> Admin </td>
      			<td>{{con.cbeginingdate}} | {{con.cbeginingtime}}</td>
      		</tr>
      	</tbody>
        {% endfor %}
      </table>

      <script>
    window.setInterval('refresh()', 30000); 	// Call a function every 10000 milliseconds (OR 10 seconds).

  // Refresh or reload page.
    function refresh() {
      window .location.reload();
  }
    </script>

    </div>
  </div>
</div>







{% endblock %}
