{% extends 'front/main.html' %}
{% load static %}
{% block content %}

{%  include 'front/status.html' %}


<br>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"> Contest Details</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'tasks' pk=r %}">Problems</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'ranklist' pk=r %}">Standing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'submission' pk=r %}">Submissions</a>
      </li>
    </ul>
  </div>
</nav>

<br>
<div class="container">

<h4  style="text-align: center;"><strong>{{details.ptitle}}</strong></h4>
<br>
{%if details.ptimelimit == 1%}
<h5  style="text-align: center;"> Time Limit Per test :      {{details.ptimelimit}} second</h5>
{% else %}
<h5 style="text-align: center;"> Time Limit Per test :      {{details.ptimelimit}} seconds</h5>
{% endif %}
<h5 style="text-align: center;"> Memory Limit Per Test :      {{details.pmemorylimit}} megabytes</h5>

<br>
<h5>Problem Description</h5>
<br>
<p>

    {{details.pdescription | safe}}

</p>
<br>
<h5>Input</h5>
<p>
  {{details.pinput | safe}}
</p>
<br>
<h5>Outout</h5>
<p>
  {{details.poutput | safe}}
</p>
<br>
<h5>Example Input Output Section</h5>
<h6> Sample input</h6>
{% for i in input%}
<p>{{i | linebreaks}}</p>
{% endfor %}
<br>

<h6>Sample output</h6>
{% for i in output%}
<p>{{i | linebreaks}}</p>
{% endfor %}
<br>
<h5>Note</h5>
<p>{{details.pnote | safe}}</p>

<br>
<br>
<br>

<form id="problem" action="" method="post">
        {% csrf_token %}
        <label for="language" class="control-label">Language: </label>
        <select name="language" id="language-select" >
            {% for x in language %}
                <option value="{{ x }}">{{ x }}</option>
            {% endfor %}
        </select>
        <br>
      <br>

    <!--
        <textarea style="height:400px;" name="code" class="form-control" placeholder="Type your code here..."></textarea>
    -->

        <!-- New CODE -->
        <div style="padding-bottom: 18px; font-weight:bold " ><h5>Paste Code</h5><br/>
        <textarea id="data_11" name="code" style="" rows="8" class="form-control" placeholder="Paste Code and Select language before submit"></textarea>
        {% for message in messages %}
					<p id="messages">{{message}} </p>
				{% endfor %}

        </div>



        <div class="d-flex justify-content-center mt-3 login_container">
        <input class="btn btn-danger" type="submit" value="Submit">
        </div>
    </form>
</div>
{% endblock %}
