{% extends 'front/main.html' %}

{% load static %}
{% block content %}

{%  include 'front/status.html' %}

<style>


</style>
<br>

<section>
  <img class="mySlides" src="{% static 'images/home1.jpg' %}" style="width:100%">
  <img class="mySlides" src="{% static 'images/home1.jpg' %}" style="width:100%">
  <img class="mySlides" src="{% static 'images/home1.jpg' %}" style="width:100%">
</section>

<br>

<h5 align="center">Programming is an art and you are the Artist</h5>


<script id='fiverr-seller-widget-script-acee0dd8-9e85-458d-ad37-ae96c3f9e26f' src='https://widgets.fiverr.com/api/v1/seller/jafoor?widget_id=acee0dd8-9e85-458d-ad37-ae96c3f9e26f' data-config='{"category_name":"Programming \u0026 Tech"}' async='true' defer='true'></script>


<script>
  var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}
  x[myIndex-1].style.display = "block";
  setTimeout(carousel, 3000);
}

</script>
{% endblock %}
