{% extends 'front/main.html' %}

{% load static %}
{% block content %}

{%  include 'front/status.html' %}

<style>


</style>
<br>

<section>
  <img class="mySlides" src="{% static 'images/home1.jpg' %}" style="width:100%">
  <img class="mySlides" src="{% static 'images/home1.jpg' %}" style="width:100%">
  <img class="mySlides" src="{% static 'images/home1.jpg' %}" style="width:100%">
</section>

<br>

<h5 align="center">Programming is an art and you are the Artist</h5>

<!-- Put this code anywhere in the body of your page where you want the badge to show up. -->

<div itemscope itemtype='http://schema.org/Person' class='fiverr-seller-widget' style='display: inline-block;'>
     <a itemprop='url' href=https://www.fiverr.com/jafoor rel="nofollow" target="_blank" style='display: inline-block;'>
        <div class='fiverr-seller-content' id='fiverr-seller-widget-content-acee0dd8-9e85-458d-ad37-ae96c3f9e26f' itemprop='contentURL' style='display: none;'></div>
        <div id='fiverr-widget-seller-data' style='display: none;'>
            <div itemprop='name' >jafoor</div>
            <div itemscope itemtype='http://schema.org/Organization'><span itemprop='name'>Fiverr</span></div>
            <div itemprop='jobtitle'>Seller</div>
            <div itemprop='description'>Hi! I am a professional web developer. I build web-sites on personal blog, marketing web sites. Generally, i build website using django ( framework of Python). Besides, i create logo for user's for web sites. </div>
        </div>
    </a>
</div>

<script id='fiverr-seller-widget-script-acee0dd8-9e85-458d-ad37-ae96c3f9e26f' src='https://widgets.fiverr.com/api/v1/seller/jafoor?widget_id=acee0dd8-9e85-458d-ad37-ae96c3f9e26f' data-config='{"category_name":"Programming \u0026 Tech"}' async='true' defer='true'></script>


<script>
  var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}
  x[myIndex-1].style.display = "block";
  setTimeout(carousel, 3000);
}

</script>
{% endblock %}
