{% extends 'front/main.html' %}

{% load static %}

{% block content %}

{%  include 'front/status.html' %}

<style>
  body,
  html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #fff !important;
  }

  .user_card {
    width: 1000px;
    margin-top: auto;
    margin-bottom: auto;
    background: #74cfbf;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;



  }

  .hl{

    text-align: center;
    font-weight: bold;
    color: white;
    padding: 20px;
  }

</style>

<br>

<br>

<div class="container h-100">
  <div class="d-flex justify-content-center h-100">
    <div class="user_card">
      <h2 class = "hl" >  </h2>
      <table class="table table-bordered" width = "500">
      	<thead>
      		<tr class="hl" >
      			<th scope="col" width = "15%"  >Submission ID</th>

      			<th scope="col" width = "25%" align = "center">Problem</th>
            <th scope="col" width = "25%" align = "center">Status</th>
            <th scope="col" width = "25%" align = "center">Language</th>

      		</tr>
      	</thead>

        {% for id , title in sub %}
      	<tbody>
      		<tr>
      			<td align = 'center'>
      				<a href="{% url 'viewsubmittedcode' pk=id.pk %}"> {{id.submissionid}} </a>
      			</td>

      			<td align = 'center'><a href="{% url 'problem' pk=id.problemid %}">{{title}}</td>
            <td align = 'center'>{{id.status}}</td>
            <td align = 'center'>{{id.language}}</td>
      		</tr>
      	</tbody>
        {% endfor %}
      </table>

    </div>
  </div>
</div>

{% endblock %}
