{% load static %}

<style>
  .hello-msg{
    font-size: 18px;
    color: #fff;
    margin-right: 20px;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
 <img src="{% static 'images/logo.png' %}">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
      </li>
    </ul>
    {% if request.user.username != '' %}
    <span class="hello-msg">Hello, {{request.user}}</span>
    {% endif %}

    {% if request.user.username == 'admin' %}
    <span ><a  class="hello-msg" href="{% url 'dashboard' %}" > Dashboard</a></span>
    {% endif %}

    {% if request.user.username == 'admin' %}
    <span ><a  class="hello-msg" href="{% url 'createcontest' %}">Create Contest</a></span>
    {% endif %}

  </div>

  <span ><a class="hello-msg" href="{% url 'home' %}">Home</a></span>

  <span ><a class="hello-msg" href="{% url 'viewproblems' %}">Problems</a></span>

  <span ><a  class="hello-msg" href="{% url 'about' %}">About</a></span>

  <span ><a  class="hello-msg" href="{% url 'contest' %}">Contests</a></span>

  {% if request.user.username == '' %}
  <span ><a  class="hello-msg" href="{% url 'login' %}">Login</a></span>
  <span ><a  class="hello-msg" href="{% url 'register' %}">Register</a></span>
  {% endif %}

  {% if request.user.username != '' %}
  <span ><a  class="hello-msg" href="{% url 'logout' %}">Logout</a></span>
  {% endif %}

</nav>
