{% extends 'front/main.html' %}
{% load static %}
{% block content %}

{%  include 'front/status.html' %}

<style>
  .column {
    float: left;
    width: 100%;
  }

  #column #row h2 {
    text-align: center;
  }


</style>

<div class="container">


<br>
<h4  style="text-align: center;"><strong>{{details.ptitle}}</strong></h4>
<br>
{%if details.ptimelimit == 1%}
<h5  style="text-align: center;"> Time Limit Per test :      {{details.ptimelimit}} second</h5>
{% else %}
<h5 style="text-align: center;"> Time Limit Per test :      {{details.ptimelimit}} seconds</h5>
{% endif %}
<h5 style="text-align: center;"> Memory Limit Per Test :      {{details.pmemorylimit}} megabytes</h5>

<br>
<h5>Problem Description</h5>
  <p>
    {{details.pdescription | safe}}
  </p>


<h5>Input</h5>
<p>
  {{details.pinput | safe}}
</p>
<br>
<h5>Outout</h5>
<p>
  {{details.poutput | safe}}
</p>
<br>
<h5>Example Input Output Section</h5>
<h6> input</h6>
{% for i in input %}
<p>{{i | linebreaks}}</p>
{% endfor %}
<br>
<h6> output</h6>
{% for i in output %}
<p>{{i | linebreaks}}</p>
{% endfor %}
<br>
<h5>Note</h5>
<p>{{details.pnote | safe}}</p>
<br>
<br>
<br>

<form id="problem" action="" method="post">
        {% csrf_token %}
        <label for="language" class="control-label">Language: </label>
        <select name="language" id="language-select" >
            {% for x in language %}
                <option value="{{ x }}">{{ x }}</option>
            {% endfor %}
        </select>
        <br>
        <strong>Pasete Your Code Here : </strong>
        <br>
    <!--
        <textarea style="height:400px;" name="code" class="form-control" placeholder="Type your code here..."></textarea>
    -->

        <!-- New CODE -->
        <div style="padding-bottom: 18px; font-weight:bold " ><h4>CONTEST DESCRIPTION</h4><br/>
        <textarea id="data_11" name="code" style="" rows="8" class="form-control" placeholder="Describe about the contest"></textarea>
        </div>



        <div class="d-flex justify-content-center mt-3 login_container">
        <input class="btn btn-danger" type="submit" value="Create">
        </div>
    </form>
</div>
{% endblock %}
