{% extends 'front/main.html' %}
{% load static %}
{% block content %}

{%  include 'front/status.html' %}

<style>
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 33%;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;

   /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;

  padding
}
</style>

<div class="container">

  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}

<div class="row mt-4 ">


  <div class="col-lg-4 col-md-4 col-sm-12" >
  <p style="" >Username: {{request.user.username}}</p>
    <br>
    <div class="gallery">
  <a target="_blank">
    {% if pro.pic %}
    <img src="{{pro.pic.url}}" alt="Cinque Terre" width="200" height="auto">
    {% else %}
    <img src="{% static 'images/profile1.png'%}" alt="Cinque Terre" width="200" height="200">
    {% endif %}
  </a>
  <br>
  <a class="btn btn-warning" href="{% url 'updateprofilepicture' %}">Update Profile Picture</a>
  <div class="desc"> <h6 style="color:White; font-size:15px;"> From </h6></div>
</div>
  </div>


  <div class="col-lg-4 col-md-4 col-sm-12" style="">
    <h5 style ="color:White; font-size:20px;"> Total Problem:</h5>
    <br>
    <h6 style ="color:blueviolet; padding-left: 40px; font-size:15px;">Submission : {{sub|length}}</h6>
    <br>
    <h6 style ="color:green; padding-left: 40px; font-size:15px;"> Accepted : {{ac}}</h6>
    <br>
    <h6 style ="color:darkred; padding-left: 40px; font-size:15px;"> Wrong Answer : {{wa}}</h6>
    <br>
    <h6 style ="color:deeppink; padding-left: 40px; font-size:15px;"> Time limit : {{th}}</h6>
    <br>
    <h6><a class="btn btn-primary btn-block " href="{% url 'submission' %}">My Submissions</a></h6>

</div>

{% if request.user.is_staff %}
<div class="col-lg-4 col-md-4 col-sm-12 mt-2">
  <a class="btn btn-primary btn-lg btn-block" href="{% url 'addproblem' %}">Add Problems</a>
  <a class="btn btn-info btn-lg btn-block" href="{% url 'createcontest' %}">Create Contest</a>

</div>
{% endif %}


</div>
{% endblock %}
