{% extends 'front/main.html' %}

{% block content %}

{%  include 'front/status.html' %}

<style>
  body,
  html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #7abecc !important;
  }

  .user_card {
    width: 1000px;
    margin-top: auto;
    margin-bottom: auto;
    background: #74cfbf;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;



  }

  .hl{

    text-align: center;
    font-weight: bold;
    color: white;
    padding: 20px;
  }

</style>

<br>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"> Contest Details</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'tasks' pk=r %}">Problems</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'ranklist' pk=r %}">Standing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'submission' pk=r %}">Submissions</a>
      </li>
    </ul>
  </div>
</nav>
<br>

<div class="container h-100">
  <div class="d-flex justify-content-center h-100">
    <div class="user_card">
      <h2 class = "hl" >  </h2>
      <table class="table table-bordered" width = "500">
      	<thead>
      		<tr class="hl" >
      			<th scope="col" width = "15%"  >Submission ID</th>
      			<th scope="col" width = "15%" align = "center">Contestant</th>
      			<th scope="col" width = "25%" align = "center">Problem</th>
            <th scope="col" width = "25%" align = "center">status</th>
            <th scope="col" width = "25%" align = "center">language</th>

      		</tr>
      	</thead>

        {% for id in sub %}
      	<tbody>
      		<tr>
      			<td>
      				<a href="{% url 'viewsubmittedcode' pk=id.pk %}"> {{id.submissionid}} </a>
      			</td>
      			<td> {{id.user}} </td>
      			<td>{{id.problemtitle}}</td>
            <td>{{id.status}}</td>
            <td>{{id.language}}</td>
      		</tr>
      	</tbody>
        {% endfor %}
      </table>

      <script>
    window.setInterval('refresh()', 300000); 	// Call a function every 10000 milliseconds (OR 10 seconds).

  // Refresh or reload page.
    function refresh() {
      window .location.reload();
  }
    </script>

    </div>
  </div>
</div>

{% endblock %}
